/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: rgb(170, 168, 168);
}

/* HEADER - MENU */
header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userSystem{
    font-size: 2rem;
    color: #000;
}

header div span{
    margin: 0 10px;
}


div img {
    padding: 15px;
    width: 200px;
}

nav {
    margin: 0px 0 20px 0;
}

.logo img {
    width: 200px;
}

#logo{
    width: 300px;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #24355B;
    height: 60px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #FFF;
    background-color: #014579;
    padding: 19px 25px;
    line-height: 60px;
    text-transform: uppercase;
}

nav a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #60a1d2;
}

.active {
    background-color: #60a1d2;
    color: #FFF;
    font-weight: 200;
}

/* NOTIFICACIONES */
.seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 0 0 30px 0;
    width: 90%;
    margin: 0 auto;

}

.seccion div {
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 250px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10%;
    background-color: #24355B;
}

.seccion i {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #FFF;
    padding: 10px;
}

.seccion h5 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #000;
    margin: 10px 0 0 0;
}

.seccion h3 {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 6px 0;
    text-transform: uppercase;
    color: #FFF;
}

.seccion .numerototal {
    font-size: 3em;
    color: yellow;
    margin-top: 0;
}

#cantidadS{
    font-size: 2em;
    color: yellow;
    margin-top: 0;
}

/* FORMULARIO */
legend {
    background-color: #014579;
    color: #FFF;
    margin-top: 10px;
}


#registro {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: visible;
    background-color: #F7F7F7;
}

#registro2 {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: visible;
    background-color: #F7F7F7;
}


#registro h3 {
    padding: 15px;
}

#registro input,
#registro2 input,
#registro button,
#registro2 button,
#registro select,
#registro2 select,
#registro textarea,
#registro2 textarea {
    border: 1px solid #174f72;
    width: 100%;
    height: 50%;
}

#registro form label,
#registro2 form label,
#registro input,
#registro2 input,
#registro button,
#registro2 button,
#registro select,
#registro2 select,
#registro datetime,
#registro2 datetime {
    display: block;
    text-align: start;
    width: 100%;
}

#registro input,
#registro2 input,
#registro label,
#registro2 label {
    margin: 0 auto;
}

#registro form select,
#registro2 form select {
    margin: 0 auto;
}

#registro form button,
#registro2 form button {
    display: inline;
    text-align: center;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    height: 50px;
}

/* TABLA */
section {
    width: 95%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: #24355B;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
}

/* CONTABILIDAD */

table .fa-solid {
    font-size: 2em;
}

table thead {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

table th {
    font-size: 1.2em;
    text-align: center;
}

.cantidad {
    font-weight: 600;
    font-size: 1.5rem;
    color: #24355B;
    border-bottom: 1px solid #24355B;
}

/* PIE DE PAGINA */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #014579;
    color: #FFF;
    margin-top: 20px;
}

.cantidad_total {
    border-bottom: 2px solid #000;
    color: #ff9d00;
    font-size: 2em;
    text-shadow: 2px 2px 3px black;
}


#resultado_busqueda {
    padding: 15px;
    height: 150px;
    margin-top: 10px;
}


/* CONFIGURACION */
#btnRespaldo{
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* DATATABLES ESTILOS */
.fa-trash {
    color: red;
}

.fa-file-pdf {
    color: #B30B00;
}