html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/* CONTENEDOR */
.container {
    padding: 5px;
    border: 2.5px solid #000;
    border-radius: 10px;
}

/* NOTA DE ENTRADA */
#title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: #014579;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
}

/* LOGO,SERVICIOS Y NOTA */
.headReport {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0.2em;
    height: 120px;
}

.headReport>div {
    position: relative;
    display: inline-block;
}

.headReport img {
    width: 100px;
    margin-bottom: 20px;
}

#logo {
    width: 22%;
    line-height: 0.3em;
    font-size: 1em;
}

#dataFecha {
    font-size: 1.2em;
}

#fechaalta {
    font-size: 1.3em;
    font-weight: bold;
    color: red;
}

#imglogo {
    width: 150px;
    margin: 0;
}

#servicios {
    margin-bottom: 10px;
    width: 60%;
    font-size: 1.5em;
}

#notaid {
    margin-top: 40px;
    width: 15%;
}

.titulo {
     background-color: #014579;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
}

#idnota {
    color: red;
    font-size: 4.2em;
}

/* CUERPO DE LA NOTA DE ENTRADA */
#bodyReport {
    font-size: 10px;
}

#bodyReport>p {
    display: inline-block;
    font-size: 1.6em;
}

.titlehead {
    width: 23%;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
}

table {
    width: 100%;
}

table thead {
    font-size: 1.6em;
    background-color: #E9ECEF;
    text-align: center;
}

table td {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.info {
    height: 75px;
}

.info>div {
    display: inline-block;
    width: 49%;
}

/* PAGOS */
#cantidades {
    height: 45px;
    font-size: 1em;
    text-align: center;
    line-height: 0.8em;
    margin-top: 15px;
    margin-right: 15px;
}

#cantidades p {
    font-weight: bold;
    font-size: 1.2em;
}

#cantidades span {
    font-weight: normal;
    font-size: 1.5em;
}

/* PIE DE LA NOTA DE ENTRADA */

#footerReport {
    background-color: #014579;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
}

#footerReport p {
    margin: 0;
}

 #contacto{
    font-size: 1.5em;
    font-weight: bold;
}


#direccion{
    font-size: 1em;
    font-style: italic;
    text-transform: capitalize;
}

#compimp{
    font-size: 1.5em;
}