* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

/* Encabezado */


header div {
    display: flex;
    justify-content: center;
}

div img {
    padding: 15px;
    width: 200px;
}

nav {
 
    margin: 0px 0 20px 0;
}

.logo img {
    width: 200px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #EDEDED;
    padding: 17px 27px;
    background-color: #24355B;
}

nav li a {
    text-decoration: none;
    color: #fff;
    background-color: #014579;
    text-transform: uppercase;
    padding: 18px 28px;
}

a:hover {
    text-decoration: none;
    background-color: orange;
}

a:active {
    text-decoration: none;
    background-color: #60a1d2;
    color: #000;
}

.active {
    background-color: orange;
    color: #000;
}

 /* NOTIFICACIONES */
.seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px 30px;
    width: 90%;
    margin: 0 auto;
}

.seccion div {
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 250px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50%;

}

.seccion i {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #FFF;
    color: #24355B;
    padding: 10px;
}

.seccion h5 {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #000;
    margin: 10px 0 0 0;
}

.seccion h3 {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #000;
    padding: 10px 0;
    text-transform: uppercase;
}

.seccion .numerototal{
    font-size: 3em;
    color: #24355B;
    margin-top: 0;
}

/* FORMULARIO */
legend{
    background-color: #014579;
    color: #FFF;
    margin-top: 10px;
}


#registro {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: visible;
    background-color: #F7F7F7;
}

#registro2 {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.75);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: visible;
    background-color: #F7F7F7;
}


#registro h3 {
    padding: 15px;
}

#registro input, #registro2 input,
#registro button,#registro2 button,
#registro select,#registro2 select,
#registro textarea,#registro2 textarea {
    border: 1px solid #174f72;
    width: 100%;
    height: 50%;
}

#registro form label,#registro2 form label,
#registro input, #registro2 input,
#registro button, #registro2 button,
#registro select, #registro2 select,
#registro datetime, #registro2 datetime {
    display: block;
    text-align: start;
    width: 100%;
}

#registro input, #registro2 input,
#registro label, #registro2 label {
    margin: 0 auto;
}

#registro form select, #registro2 form select {
    margin: 0 auto;
}

#registro form button, #registro2 form button {
    display: inline;
    text-align: center;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    height: 50px;
}

/* TABLA */
section {
    width: 95%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: #014579;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
}
/* CONTABILIDAD */
#seccionuno i{
  color: orange;
}

#secciontotal{
    background-color: #0078E0;
}

#secciontotal h5,h3{
    color: orange;
}

#secciontotal i{
    color: #FFF;
}


/* PIE DE PAGINA */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #014579;
    color: #FFF;
    margin-top: 20px;
}

.fa-trash{
    color: red;
}

.fa-file-pdf{
    color: #B30B00;
}